@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

/* Nav Bar */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #1c1b23;
}

header li, a, button {
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 500;
    font-size: 1.5625rem;
    color: #edf0f1;
    text-decoration: none;
}

.name {
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 500;
    font-size: 1.875rem;
    color: #edf0f1;
    text-decoration: none;
    margin-left: 0.625rem;
    transition: all 0.3s ease 0s;
}

.name:hover {
    color: rgba(13, 174, 215, 0.7);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.25rem 10%;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
    border-bottom: 0.125rem solid rgb(255, 255, 255);
}

.navLinks {
    list-style: none;
    display: flex;
}

.navLinks li {
    display: inline-block;
    padding: 0 1.25rem;
}

.navLinks li a {
    transition: all 0.3s ease 0s;
}

.navLinks li a:hover {
    color: rgba(13, 174, 215, 0.7);
}

.activeLink{
    color: rgba(13, 174, 215, 0.7);
}

/* Intro Page */
.introContainer {
    display: flex;
    align-items: center;
    padding: 1.25rem;
    max-width: 75rem;
    margin: 1.25rem auto;
    border-radius: 0.625rem;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.introImage {
    flex: 0 0 auto;
    height: 50%;
    width: 50%;
    overflow: hidden;
    cursor: pointer;
    margin-right: 20px;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.introImage img {
    object-fit: cover;
    transition: transform 0.5s ease-in;
    height: 100%;
    width: 100%;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.introImage:hover img {
    transform: scale(1.5);
}

.introduction {
    flex: 1 1 auto;
    color: white;
    line-height: 1.6;
    font-family: "Montserrat", sans-serif;
    cursor: pointer;
    font-size: 1.25rem;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.information {
    margin-top: 5%;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.contactUs {
    flex: 1 1 auto;
    color: white;
    font-family: "Montserrat", sans-serif;
    cursor: pointer;
    font-size: 25px;
    text-align: center;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.contactLine {
    background-color: #eee;
    border: 0 none;
    color: #eee;
    height: 3px;
    width: 50%;
    margin-left: 25%;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.phoneContainer {
    display: flex;
    align-items: center;
    margin-left: 520px;
    margin-top: 20px;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.phoneImage {
    width: 4%;
    height: 4%;
    margin-right: 20px;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.phoneNumber {
    flex: 1 1 auto;
    color: white;
    line-height: 1.6;
    font-family: "Montserrat", sans-serif;
    cursor: pointer;
    font-size: 20px;
    transition: all 0.3s ease 0s;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.phoneNumber:hover {
    color: #245990;
}

.backupPhoneContainer {
    display: flex;
    align-items: center;
    margin-left: 520px;
    margin-top: 20px;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.backupPhoneImage {
    width: 4%;
    height: 4%;
    margin-right: 20px;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.backupPhoneNumber {
    flex: 1 1 auto;
    color: white;
    line-height: 1.6;
    font-family: "Montserrat", sans-serif;
    cursor: pointer;
    font-size: 20px;
    transition: all 0.3s ease 0s;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.backupPhoneNumber:hover {
    color: #245990;
}

.emailContainer {
    display: flex;
    align-items: center;
    margin-left: 460px;
    margin-top: 10px;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.emailImage {
    width: 7%;
    height: 7%;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.emailAddress {
    flex: 1 1 auto;
    color: white;
    line-height: 1.6;
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    margin-left: 10px;
    transition: all 0.3s ease 0s;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.emailAddress:hover {
    color: #245990;
}

.location {
    margin-top: 5%;
}

.homeImage {
    height: 3%;
    width: 5%;
    margin-left: 35%;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.aryanLocation {
    display: flex;
    align-items: center;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.aryanAddress {
    flex: 1 1 auto;
    color: white;
    line-height: 1.6;
    font-family: "Montserrat";
    font-size: 23px;
    margin-left: 10px;
    transition: all 0.3s ease 0s;
}

.aryanAddress:hover {
    color: #245990;
}

.aaradhyaLocation {
    display: flex;
    align-items: center;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.aaradhyaAddress {
    flex: 1 1 auto;
    color: white;
    line-height: 1.6;
    font-family: "Montserrat";
    font-size: 23px;
    margin-left: 10px;
    transition: all 0.3s ease 0s;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.aaradhyaAddress:hover {
    color: #245990;
}

.apeLocation {
    display: flex;
    align-items: center;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.apeAddress {
    flex: 1 1 auto;
    color: white;
    line-height: 1.6;
    font-family: "Montserrat";
    font-size: 23px;
    margin-left: 10px;
    transition: all 0.3s ease 0s;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.apeAddress:hover {
    color: #245990;
}

.harshuLocation {
    display: flex;
    align-items: center;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.harshuAddress {
    flex: 1 1 auto;
    color: white;
    line-height: 1.6;
    font-family: "Montserrat";
    font-size: 23px;
    margin-left: 10px;
    transition: all 0.3s ease 0s;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.harshuAddress:hover {
    color: #245990;
}

.donation{
    flex: 1 1 auto;
    color: white;
    line-height: 1.6;
    font-family: "Montserrat";
    font-size: 23px;
    transition: all 0.3s ease 0s; 
    margin-left: 12%;
    margin-top: 2%;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.venmo{
    flex: 1 1 auto;
    color: white;
    line-height: 1.6;
    font-family: "Montserrat";
    font-size: 26px;
    margin-left: 50px;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.venmoCode{
    width: 200px;
    height: 200px;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.zelle{
    flex: 1 1 auto;
    color: white;
    line-height: 1.6;
    font-family: "Montserrat";
    font-size: 26px;
    margin-left: 160px;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.zelleCode{
    width: 200px;
    height: 200px;
    margin-left: 100px;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.cashapp{
    flex: 1 1 auto;
    color: white;
    line-height: 1.6;
    font-family: "Montserrat";
    font-size: 26px;
    margin-left: 190px;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none; 
}

.cashappCode{
    width: 200px;
    height: 200px;
    margin-left: 160px;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.codesContainer{
    display: flex;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.fullContainer{
    display: flex;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.verticalLine {
    border-left: 2px solid rgb(255, 255, 255);
    height: 90%;
    position: absolute;
    left: 50%;
    margin-left: -3px;
    margin-top: 0px;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.ghanaProjectContainer{
    display:flex;
}

.ghanaBooks{
    width: 25%;
    height: 25%;
    margin-top: 10px;
    margin-left: 10px;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.ghanaBoxes{
    width: 25%;
    height: 25%;
    margin-top: 10px;
    margin-left: 10px;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.ghanaSummary{
    flex: 1 1 auto;
    color: white;
    line-height: 1.6;
    font-family: "Montserrat";
    font-size: 23px;
    margin-left: 40px;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none; 
}

.addaiMemorial{
    flex: 1 1 auto;
    color: #245990;
    line-height: 1.6;
    font-family: "Montserrat";
    font-size: 23px;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;    
}

.ghanaLine{
    background-color: #eee;
    border: 0 none;
    color: #eee;
    height: 3px;
    margin-top: 10px;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}



